@media (max-width:768px){

.hero h1{
font-size:42px;
}

.hero-photo{
width:95px;
}

.frame1{
top:140px;
left:20px;
}

.frame2{
top:100px;
right:20px;
}

.frame3{
bottom:180px;
right:60px;
}

.bunga{
width:80px;
top:20px;
right:10px;
}

.cangkir{
width:80px;
bottom:40px;
left:10px;
}

.carousel-track{
height:260px;
}

}
